{% load static from staticfiles %}
<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Elastic Login Form</title>




        <link rel="stylesheet" href="{% static 'login/css/style.css' %}">




  </head>

  <body>

    <!--Google Font - Work Sans-->
<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,700' rel='stylesheet' type='text/css'>

<div class="container">
  <div class="profile">
    <button class="profile__avatar" id="toggleProfile">
     <img src="{% static 'login/img/spartaNets.png' %}" alt="Avatar" />
    </button>
    <div class="profile__form">
      <div class="profile__fields">
        <div class="field">


            <div id="load">
                <img src="{% static 'img/loading.gif' %}"/>
                <h3><center>Loading Please Wait...</center></h3>
            </div>


            <form role="form" id="signupForm" action="{% url 'sign_up' %}" method="post">{% csrf_token %}
                <p>{{msg}}</p>
              <div class="form-group">
                    <label for="addUser-username"><span class="glyphicon glyphicon-user"></span> Username </label>
                    <input type="text" class="form-control" id="addUser-username" name="username" placeholder="" aria-required="true" />
                </div>
                <div class="form-group">
                    <label for="addUser-password"><span class="glyphicon glyphicon-eye-open"></span> Password </label>
                    <input type="password" class="form-control" id="addUser-password" name="password" placeholder="">
                </div>
                <div class="form-group">
                    <label for="addUser-email"><span class="glyphicon glyphicon-eye-open"></span> Email </label>
                    <input type="email" class="form-control" id="addUser-email" name="email" placeholder="">
                </div>
                <div class="form-group">
                    <label for="addUser-company"><span class="glyphicon glyphicon-eye-open"></span> Company </label>
                    <input type="text" class="form-control" id="addUser-company" name="company" placeholder="">
                </div>
                <div class="form-group">
                    <label for="free"> Type </label>
                    <div class="form-field">
                        <label>
                            <input type="radio" id="free" name="type" value="FREE" checked="checked"> FREE
                        </label>
                        <label>
                            <input type="radio" id="paid" name="type" value="PAID" > PAID
                        </label>
                        <label>
                            <input type="radio" id="full" name="type" value="FULL" > FULL
                        </label>
                    </div>
                </div>
                    <input type="hidden" id="addUser-redirect" name="next" value="{{ next }}">
                    <button id="btnSubmit" type="submit" class="btn-info"> Submit </button>

          </form>


        </div>
      </div>
     </div>
  </div>
</div>

        <script src="{% static 'login/js/index.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script>
  $(window).load(function(){
  $('#load').hide();
  console.log("I'm Here");
  $('#btnSubmit').click(function(){
    console.log("I'm Here");
    $('#signupForm').hide();
    $('#load').show();
  });
  });

</script>


  </body>
</html>
